html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



/*kodenya sini*/
.main{
  height: 580px;
  background-color: #f7f7f7;
  text-align: center;
}
.lessons{
  padding-right: 40px;
  padding-top: 10px;
  padding-left: 40px;
}
.pala{
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.pala h2{
  font-weight: normal;
}
.lesson{
  float: left;
  width: 33%;
}
.lesson-icon{
  position: relative;
}
.lesson-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}
.bagiantext {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}
